body{
	margin: auto;
}

#main{
	background-color: #05fafa;
	width: 300px;
	height: 300px;
	border: 1px solid #877885;
	margin: auto;
}

#buttonArea{
	width: 96%;
	margin: auto;
	margin-top: 6px;
	text-align: center;
	height: 200px;
}

#displayArea{
	width: 90%;
	margin: auto;
	margin-top: 6px;
	text-align: center;
}

textarea{
	margin: auto;
}

.button{
	width: 22%;
	height: 30px;
}