body{
	background-image:url('images/Background.png');
	background-size: cover;
}
#main{
	background-color: #05fafa;
	width: 300px;
	height: 300px;
	border: 4px solid #877885;
	margin: auto;
	/* margin-top: 50px; */
}

#buttonArea{
	width: 96%;
	margin: auto;
	margin-top: 6px;
	text-align: center;
	height: 200px;
}

#displayArea{
	width: 90%;
	margin: auto;
	margin-top: 6px;
	text-align: center;
}

textarea{
	text-align: right;
	resize: none;
	font-size:16px;
	font-weight: bold;
}

p{
	text-align: center;
}

.button{
	width: 22%;
	height: 30px;
}